.auth-section{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding: 40px;
    padding-top: 100px;
}

.auth-container{
   align-items: center;
    width:300px;
    height:auto;
    display: flex;
    flex-direction: column;
    
    }
    .auth-container .logo-icon{
        margin: auto;
        margin-bottom: 15px;
    }
    
.auth-container form{
    height:auto;
    background-color: #ffff;
    box-shadow: 7px 0px 400px -24px rgba(135,134,134,0.75);
    -webkit-box-shadow: 7px 0px 400px -24px rgba(135,134,134,0.75);
    -moz-box-shadow: 7px 0px 400px -24px rgba(135,134,134,0.75);
    border-radius: 10px;
    padding: 10px 20px;
}
label h4{
    line-height: 0;
}
#email ,#password ,#name{
    margin-top: -10px;
    width:100%;
    height:30px;
    background-color:#ffff;
    border-radius: 4px;
    border: 1px solid black;
}
.auth-btn{
    margin-top: 15px;
    height:40px;
    color:#fff;
    background-color: #009dff;
    width: 100%;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
}
.handle-switch-btn{
    border: none;
    color:#007ac6;
}