.ask-ques{
width:100%;
height:auto;
margin-top: 80px;
}
.page-up{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.heading-img{
    /* position: fixed; */
    width: 150px;
    right: 10px;
    margin-right: 100px;

}
.heading-img img{
    width: 100%;
    
}
.ask-ques-page-heading{
    padding: 20px 20px 0px;
 
}

.ask-ques-container-1{
    width:100%;
   margin: auto;
}

.good-question-details{
    background-color: #ebf4fb;
    padding: 20px;
    width: 70%;
    margin: 20px;
    border:1px solid #1485c6;
    border-radius: 10px;
}

.ask-ques-form{
    margin: 20px;
    padding: 20px;

    border-radius: 10px;
    /* border: 2px solid red; */
}

.ask-ques-container-2{
/* border: 1px solid black; */
padding: 15px;
background-color: #ffffff;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.ask-ques-container-2 p{
    font-size: 13px;
}
.ask-ques-container-2 p{
    line-height: 0;
}
.ask-ques-container-2 input{
width:100%;
height:30px;

}
.ask-ques-container-2 textarea{
    width:100%;
    height:150px
    }
    .review-btn{
        border:none;
        padding:10px 12px;
        background-color: #009dff;
        border-radius: 5px;
        color:#fff;
        font-size: 14px;
        text-decoration: none;
        margin-top: 40px;
        margin-bottom: 40px;
        cursor: pointer;
    }   

  @media (max-width:760px) {

    
.good-question-details{
    width: 80%;
    margin: auto;

}
.good-question-details h2{
    font-size: 20px;
}
.good-question-details h4{
    font-size: 16px;
}

.good-question-details p,.good-question-details li {
    font-size: 12px;
}

.ask-ques-page-heading{
    font-size: 20px;
    padding: 20px 20px 0px;
    /* border:1px solid black; */
}


.heading-img{
   display: none;
}
  }  

