.left-sidebar{
    /* position: absolute; */
    width: 164px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 2px #b1acac;
    transition: box-shadow 0.2s;
    transform:translateZ(0);
    /* height: auto; */
    /* z-index: 300; */
    /* display: none; */
}
.side-nav{
    margin-top: 80px;
}
.side-nav-links {
    font-size: 14px;
    display: flex;
    text-decoration: none;
    color:#3a3a3a;
    margin-bottom: 5px;
}
.side-nav-links p{
    padding: 0px 10px ;
    line-height: 0.5;
}
.active {
    border-right: 3px solid #ef8236;
    background-color:#e8e8e8;
    color:#000;
    font-weight: bold;
   
}